<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../dist/style.css" />
    <link rel="stylesheet" href="../../dist/prism.css" />
    <title>Web Design cheet sheet</title>
  </head>
  <body data-prismjs-copy-timeout="500" data-prismjs-copy="Copy">
    <aside>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
      <button class="btn">cdn</button>
    </aside>
    <main class="container">
    </main>
    <script src="../../dist/style.css"></script>
  </body>
</html>
